In [3]:
# from urllib2 import urlopen py2
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
from IPython.display import Image
from IPython.core.display import HTML

In [4]:
url = "https://tradingeconomics.com/indonesia/consumer-price-index-cpi"

In [5]:
soup1 = BeautifulSoup(urlopen(url), "lxml")

# Get Forecast Calender

In [6]:
table1 = soup1.find("table", {"class": "table table-hover"})

In [11]:
df = pd.read_html(str(table1), header=0)[0]

In [12]:
df

,Indonesia,Last,Unit,Reference,Previous,Highest,Lowest
0,Inflation Rate,1.60,percent,Sep/21,1.59,82.40,-1.17
1,Inflation Rate Mom,-0.04,percent,Sep/21,0.03,8.70,-0.45
2,Consumer Price Index CPI,106.53,points,Sep/21,106.57,106.57,14.20
3,Core Inflation Rate,1.30,percent,Sep/21,1.31,8.30,1.18
4,Core Consumer Prices,107.18,points,Sep/21,107.04,107.18,63.40
5,GDP Deflator,150.60,points,Jun/21,147.93,264.61,95.07
6,Producer Prices,106.34,points,Sep/21,106.35,161.52,0.58
7,Export Prices,173.00,points,Aug/21,176.30,176.30,33.20
8,Import Prices,172.04,points,Aug/21,171.43,172.04,34.74
9,Food Inflation,3.20,percent,Sep/21,3.31,138.12,-11.16
10,Producer Prices Change,2.88,percent,Sep/21,2.87,153.43,-12.00
11,CPI Transportation,103.13,points,Sep/21,103.06,147.83,90.86
12,CPI Housing Utilities,103.30,points,Sep/21,103.22,133.21,38.32

In [13]:
df.to_csv('data_ihk.csv', encoding='utf-8')

## Get Images

In [18]:
chart = soup1.find("figure", {"class": "chart-figure"})

In [19]:
link = chart.find('img')['src']

In [20]:
Image(url= link)

## Get Resume

In [21]:
tablersume = soup1.find("table", {"class": "table"})

In [22]:
df = pd.read_html(str(tablersume), header=1)[0]

In [23]:
df

,Unnamed: 0,Actual,Previous,Highest,Lowest,Dates,Unit,Frequency,Unnamed: 8
0,NaN,105.95,105.68,105.95,14.2,1996 - 2021,points,Monthly,"2018=100, NSA"